@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/*Color Transitions*/
#body {
    background-color: red;
    position: relative;
    height: 100vh; 
    transition: all 2s;
    transition-timing-function: ease;
    animation: 
}

.firstSpan {
    transition: all 2s;
    transition-timing-function: ease;
}

.fas {
    transition: all 2s;
    transition-timing-function: ease;
}

.oneDiv {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px 50px;
    text-align: center;
    width: 500px;
    border-radius: 2.5px;
}

.innerText {
    font-size: 14px; 
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-align: center;
}

.innerText i {
    font-size: 26px;
    margin: 0 7.5px 0 0;
    text-align: center; 
    line-height: 28px;
}

.innerText span {
    font-family: "Raleway";
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    line-height: normal;
    vertical-align: baseline;
}

/*---------belowDiv--------*/

.belowDiv {
    font-size: 16px; 
    padding: 20px 0 0; 
    font-weight: 400; 
    font-family: "Raleway";
    text-align: right;
}

.belowDiv span {
    font-size: 16px; 
    text-align: right;
    font-weight: 400; 
}

/*---------A-tags--------*/

a { 
    display: inline-block; 
    font-size: 19.2px; 
   margin: 30px 2.5px 0px 0px; 
   padding: 8px 0 0;
   font-weight: 400; 
   text-align: center;
   background-color: pink;
   width: 35px; 
   height: 35px; 
   line-height: 17px;
   border-radius: 5px;

   transition: all 2s;
   transition-timing-function: ease;
}

.twitter {
    position: absolute;
    top: -10px;
    left: -5px;
}

.fab {
    color: white;
}

.tumbler {
    position: absolute;
    left: 35px;
    top: -10px;
}

.authors {
    transition: all 2s;
    transition-timing-function: ease;
}

.newQuote {
    position: relative;
    border-radius: 5px; 
    top: -10px;
    left: 155px;
    height: 35px; 
    font-size: 13.6px; 
    margin: 30px 0px 0px; 
    padding: 4px 18px 6px; 
    font-weight: 400; 
    text-align: right;
    color: white;
    background-color: pink;
    font-family: Arial;
    /*line-height: 2.5;*/

    transition: all 2s;
    transition-timing-function: ease;
}

.buttons {
    position: relative;
    
    height: 50px;
}

.myName {
    position: absolute;
    display: block;
    font-size: 12.8px; 
    margin: 100px 50px 30px; 
    font-weight: 400;
    text-align: center;

    top: -65%;
    left: 35%;
    transform: translate(-50%,0%);
    color: white;
}
.Michael {
    width: 100%;
    font-size: 12.8px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
}









.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}





